.sidebarRow{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.sidebarRow:hover{
    border-radius: 10px;
    background-color: lightgray;
}
.sidebarRow > h4{
    margin-left: 20px;
    font-weight: 600;
}
.sidebarRow > .MuiSvgIcon-root{
    color: var(--facebook-color);
    font-size: xx-large;
}